module.exports = {
    "/novice": {
      "target": 'http://localhost:9000/',
      "secure": false,
      "changeOrigin": true,
    },
    "/service/websocket": {
      "target": 'http://localhost:9000/',
      "secure": false,
      "ws": true,
      "changeOrigin": true,
    },
  }